.myclass {
  background-color: #f8f9fa;
  padding: 20px;
  border: 2px solid #007bff;
}
body {
  margin: 0;
}
.homepage {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.main-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}
@media (max-width: 991px) {
  .main-container {
    max-width: 100%;
  }
}
.hero-section {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  color: #000;
}
@media (max-width: 991px) {
  .hero-section {
    max-width: 100%;
    padding: 0 20px 100px;
  }
}
.hero-background {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.header {
  position: relative;
  display: flex;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  font: 400 20px Roboto, sans-serif;
  box-sizing: border-box;
}
@media (max-width: 991px) {
  .header {
    max-width: 100%;
  }
}
.logo {
  object-fit: contain;
  object-position: center;
  width: 375px;
  margin: auto 0;
}
.navigation {
  display: flex;
  min-height: 80px;
  align-items: center;
  gap: 21px;
  justify-content: start;
  flex-wrap: wrap;
}

.navigation a {
  font: 400 20px Roboto, sans-serif;
  text-decoration: none;
  color: #000;
  display: inline-block;
  box-sizing: border-box;
}
.navigation .nav-item:hover {
  color: #000;
  border-bottom: 2px solid #004AAD;
}

@media (max-width: 991px) {
  .navigation {
    max-width: 100%;
  }
}
.nav-item {
  align-self: stretch;
  gap: 10px;
  white-space: nowrap;
  margin: auto 0;
  padding: 10px;
}
@media (max-width: 991px) {
  .nav-item {
    white-space: initial;
  }
}
a.nav-button {
  align-self: stretch;
  border-radius: 13px;
  background-color: #004aad;
  gap: 10px;
  color: #fff;
  margin: auto 0;
  padding: 14px 14px;
}

a.nav-button:hover {
  background-color: #EBF1FA;
  border-radius: 13px;
  border: 2px solid #004aad;
  color: #000;
  transition: background-color 0.3s ease-in-out;
}

.hero-content {
  position: relative;
  align-self: center;
  display: flex;
  width: 863px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 118px 0 -36px;
  font: 600 22px Roboto Slab, sans-serif;
}
@media (max-width: 991px) {
  .hero-content {
    margin: 40px 0 10px;
  }
}
.hero-title {
  font-size: 60px;
  text-align: center;
}
@media (max-width: 991px) {
  .hero-title {
    max-width: 100%;
    font-size: 40px;
  }
}
.hero-divider {
  object-fit: contain;
  object-position: center;
  width: 710px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .hero-divider {
    margin-top: 40px;
  }
}
.hero-subtitle {
  text-align: center;
  align-self: stretch;
  margin-top: 45px;
}
@media (max-width: 991px) {
  .hero-subtitle {
    max-width: 100%;
    margin-top: 40px;
  }
}
.cta-button {
  border-radius: 13px;
  background-color: #004aad;
  display: flex;
  margin-top: 45px;
  min-height: 49px;
  align-items: center;
  gap: 10px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  justify-content: center;
  padding: 12px 20px;
  border: 2px solid #004aad;
  text-decoration: none;
}
.cta-button:hover {
  background-color:transparent;
  color: black;
}
@media (max-width: 991px) {
  .cta-button {
    margin-top: 40px;
    padding: 0 20px;
  }
}
.cta-text {
  align-self: stretch;
  margin: auto 0;
}
.cta-icon {
  aspect-ratio: 6.58;
  object-fit: contain;
  object-position: center;
  width: 46px;
  align-self: stretch;
  margin: auto 0;
}
.services-title {
  color: #004aad;
  align-self: start;
  margin: 25px 0 0 75px;
  font: 500 33px Roboto, sans-serif;
}
@media (max-width: 991px) {
  .services-title {
    margin-left: 10px;
  }
}
.services-subtitle {
  color: #000;
  align-self: start;
  margin: 36px 0 0 75px;
  font: 600 28px Roboto Slab, sans-serif;
}
@media (max-width: 991px) {
  .services-subtitle {
    max-width: 100%;
  }
}
.services-grid {
  align-self: center;
  display: flex;
  margin-top: 68px;
  width: 100%;
  max-width: 1291px;
  align-items: center;
  gap: 40px 67px;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .services-grid {
    max-width: 100%;
    margin-top: 40px;
  }
}
.service-card {
  background-color: #fff;
  align-self: stretch;
  display: flex;
  min-width: 240px;
  min-height: 612px;
  padding-top: 2px;
  flex-direction: column;
  align-items: center;
  font-family: Roboto, sans-serif;
  color: #000;
  font-weight: 400;
  justify-content: start;
  flex-grow: 1;
  width: 312px;
  margin: auto 0;
}
.service-image {
  aspect-ratio: 1.12;
  object-fit: contain;
  object-position: center;
  width: 360px;
  max-width: 100%;
}
.service-title {
  font-size: 32px;
  margin-top: 30px;
}
.service-description {
  font-size: 16px;
  margin-top: 30px;
}
.drupal-card {
  align-self: stretch;
  display: flex;
  min-width: 240px;
  min-height: 612px;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  flex-grow: 1;
  width: 305px;
  margin: auto 0;
}
.drupal-content {
  display: flex;
  width: 360px;
  max-width: 100%;
  flex-direction: column;
  padding: 70px 55px 30px;
}
@media (max-width: 991px) {
  .drupal-content {
    padding: 0 20px;
  }
}
.drupal-box {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  position: relative;
  aspect-ratio: 1.136;
  width: 100%;
  padding: 38px 15px 38px 34px;
}
@media (max-width: 991px) {
  .drupal-box {
    padding-left: 20px;
  }
}
.drupal-title {
  position: relative;
  color: #0077c0;
  align-self: center;
  font: 700 32px Inter, sans-serif;
}
.drupal-version {
  position: relative;
  display: flex;
  margin-top: 6px;
  align-items: start;
  gap: 19px;
}
.version-wrapper {
  display: flex;
  margin-top: 4px;
}
.version-icon {
  aspect-ratio: 0.76;
  object-fit: contain;
  object-position: center;
  width: 34px;
  margin: auto 0;
}
.version-number {
  aspect-ratio: 1.01;
  object-fit: contain;
  object-position: center;
  width: 105px;
  max-width: 100%;
}
.drupal-upgrade-title {
  color: #000;
  margin-top: 30px;
  font: 400 32px Roboto, sans-serif;
}
.drupal-upgrade-description {
  color: #000;
  margin-top: 30px;
  font: 400 16px Roboto, sans-serif;
}
.open-source-section {
  background-color: #fbfcff;
  display: flex;
  margin-top: 24px;
  min-height: 278px;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  font-family: Roboto, sans-serif;
  color: #000;
  text-align: center;
  justify-content: center;
  padding: 79px 0;
}
@media (max-width: 991px) {
  .open-source-section {
    max-width: 100%;
  }
}
.open-source-icon {
  aspect-ratio: 90.91;
  object-fit: contain;
  object-position: center;
  width: 266px;
  max-width: 100%;
}
.open-source-title-wrapper {
  display: flex;
  margin-top: 22px;
  align-items: center;
  gap: 32px;
  font-size: 36px;
  font-weight: 500;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .open-source-title-wrapper {
    max-width: 100%;
  }
}
.open-source-title {
  align-self: stretch;
  margin: auto 0;
}
@media (max-width: 991px) {
  .open-source-title {
    max-width: 100%;
  }
}
.open-source-icon-small {
  aspect-ratio: 0.95;
  object-fit: contain;
  object-position: center;
  width: 52px;
  align-self: stretch;
  margin: auto 0;
}
.open-source-description {
  font-size: 18px;
  font-weight: 400;
  align-self: stretch;
  margin-top: 22px;
}
@media (max-width: 991px) {
  .open-source-description {
    max-width: 100%;
  }
}
.contact-section {
  background-color: #fff;
  display: flex;
  min-height: 331px;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  font-family: Roboto, sans-serif;
  justify-content: start;
  padding: 73px 0;
}
@media (max-width: 991px) {
  .contact-section {
    max-width: 100%;
  }
}
.contact-icon {
  aspect-ratio: 90.91;
  object-fit: contain;
  object-position: center;
  width: 266px;
  max-width: 100%;
}
.contact-title {
  color: #004aad;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  align-self: stretch;
  margin-top: 22px;
}
@media (max-width: 991px) {
  .contact-title {
    max-width: 100%;
  }
}
.contact-button {
  border-radius: 3px;
  background-color: #004aad;
  display: flex;
  margin-top: 22px;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  color: #fff;
  font-weight: 400;
  white-space: nowrap;
  text-transform: uppercase;
  justify-content: center;
  padding: 10px 30px;
  border: 2px solid #004aad;
}
@media (max-width: 991px) {
  .contact-button {
    white-space: initial;
    padding: 0 20px;
  }
}
.contact-button-icon {
  aspect-ratio: 5.75;
  object-fit: contain;
  object-position: center;
  width: 46px;
  align-self: stretch;
  margin: auto 0;
}
.footer {
  background-color: #ecf2fa;
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 20px;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .footer {
    max-width: 100%;
    padding-left: 20px;
  }
}
.footer-content {
  align-self: start;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 375px;
  max-width: 100%;
  font: 400 12px Roboto, sans-serif;
}
.footer-logo {
  aspect-ratio: 4.88;
  object-fit: contain;
  object-position: center;
  width: 375px;
  align-self: stretch;
}
.footer-copyright {
  color: #000;
  margin-top: 83px;
}
@media (max-width: 991px) {
  .footer-copyright {
    margin-top: 40px;
  }
}
.footer-links {
  display: flex;
  margin-top: 11px;
  min-height: 15px;
  align-items: start;
  gap: 17px;
  color: #818181;
  justify-content: center;
}
.footer-link {
  width: 86px;
}
.footer-social {
  align-self: end;
  display: flex;
  margin-top: 39px;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 991px) {
  .footer-social {
    max-width: 100%;
  }
}
.social-buttons {
  display: flex;
  margin-left: 32px;
  min-height: 77px;
  width: 202px;
  max-width: 100%;
  align-items: center;
  gap: 17px;
  justify-content: center;
}
.social-icon {
  aspect-ratio: 0.97;
  object-fit: contain;
  object-position: center;
  width: 36px;
  align-self: stretch;
  margin: auto 0;
}
.social-icon-2 {
  aspect-ratio: 0.94;
  object-fit: contain;
  object-position: center;
  width: 29px;
  align-self: stretch;
  margin: auto 0;
}
.contact-email {
  display: flex;
  margin-left: 17px;
  align-items: center;
  gap: 10px;
  color: #004aad;
  white-space: nowrap;
  justify-content: start;
  font: 500 20px Roboto, sans-serif;
}
@media (max-width: 991px) {
  .contact-email {
    white-space: initial;
  }
}
.email-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 26px;
  align-self: stretch;
  margin: auto 0;
}
.email-address {
  align-self: stretch;
  margin: auto 0;
}
.dots-design {
  align-self: stretch;
  display: flex;
  margin-top: 16px;
  height: 62px;
  gap: 10px;
}
@media (max-width: 991px) {
  .dots-design {
    max-width: 100%;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
