.body {
  font-family: Roboto, sans-serif;
}

.hero-section,
.site-banner {
  background-color: #ecf2fa;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  row-gap: 15px;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 10px 21px;
  flex-wrap: wrap;
}

.navigation a {
  font: 400 20px Roboto, sans-serif;
  text-decoration: none;
  color: #000;
  padding: 10px;
}

.navigation .nav-item:hover {
  color: #000;
  border-bottom: 2px solid #004aad;
}

.site-banner {
  overflow: auto;
}

.hero-content {
  margin: 118px auto;
  display: flex;
  width: 863px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  font: 600 22px Roboto Slab, sans-serif;
  font-weight: 600;
}

.hero-title {
  font-size: 60px;
  text-align: center;
}

.hero-divider {
  border: 1px solid #004aad;
  width: 80%;
  margin-top: 20px;
}

.contact-us-divider {
  border: 1px solid #004aad;
  width: 265px;
  margin: 10px auto;
  max-width: 50%;
}

.hero-subtitle {
  text-align: center;
  margin-top: 45px;
  line-height: 35px;
  font-size: 26px;
}

.banner-button {
  margin-top: 45px;
}

.connect-section {
  margin-top: 20px;
}

.cta-button {
  font-size: 26px;
  border-radius: 13px;
  background-color: #004aad;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1.1px;
  padding: 12px 20px;
  border: 2px solid #004aad;
  text-decoration: none;
}

.cta-icon {
  display: inline-block;
  width: 45px;
  height: 13px;
  margin-left: 8px;
  background-repeat: no-repeat;
  background-image: url("./images/arrow-icon-white.svg");
}

.cta-button:hover .cta-icon {
  background-image: url("./images/arrow-icon-black.svg");
}

.cta-button:hover {
  background-color: #ecf2fa;
  color: #000;
}

.services-section {
  padding-top: 50px;
}

.services-title {
  color: #004aad;
  font: 600 33px Roboto, sans-serif;
  letter-spacing: 2px;
}

.services-subtitle {
  color: #000;
  align-self: start;
  font: 500 28px Roboto Slab, sans-serif;
  margin-top: 20px;
  letter-spacing: 1.5px;
  line-height: 35px;
}

.services-grid {
  margin: 108px auto;
}

.service-title {
  font-size: 32px;
  margin-top: 30px;
}

.service-description {
  font-size: 18px;
  margin-top: 30px;
  padding: 0 30px;
}

.open-source-section {
  background-color: #fbfcff;
  padding: 79px 0;
}

.open-source-title {
  font-size: 36px;
  margin: auto 0;
  font-weight: 500;
}

.open-source-description {
  font-size: 18px;
  font-weight: 400;
  margin-top: 22px;
}
.open-source-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto, sans-serif;
  color: #000;
}

.contact-section {
  padding: 73px 0;
}

.contact-section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto, sans-serif;
}

.contact-title {
  color: #004aad;
  font-size: 40px;
  font-weight: 500;
  margin-top: 22px;
}

.footer {
  background-color: #ecf2fa;
}

.footer-content {
  display: flex;
  margin-top: 39px;
  flex-direction: column;
  align-items: start;
  justify-content: end;
}

.footer-logo {
  width: 375px;
  max-width: 100%;
  margin-bottom: 82px;
  margin-top: 4px;
}

.footer-copyright {
  font-size: 14px;
  color: #000;
}

.footer-links {
  display: flex;
  min-height: 15px;
  align-items: start;
  gap: 17px;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-links a {
  color: #818181;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.social-buttons {
  margin-bottom: 10px;
}

.social-buttons a {
  margin-right: 15px;
  font-size: 38px;
  color: black;
}

.social-buttons a:hover i {
  color: #004aad;
}

.contact-email {
  display: flex;
  margin-left: 17px;
  align-items: center;
  gap: 10px;
  color: #004aad;
  font: 500 20px Roboto, sans-serif;
}

.email-address {
  text-decoration: none;
  color: #004aad;
}

.dots-design {
  margin-top: 10px;
}

@media (min-width: 1600px) {
  .container-fxl .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1440px;
  }
}

/* Media Queries at the bottom */
@media (max-width: 991px) {
  .site-banner {
    padding-top: 78px;
    padding-bottom: 78px;
  }
  .footer .container .row {
    flex-direction: column-reverse;
    align-content: center;
  }
  .footer-logo {
    margin-bottom: 38px;
  }
  .hero-content {
    margin: 40px 0 10px;
  }
  .hero-title {
    font-size: 40px;
  }
  .hero-divider {
    margin-top: 40px;
  }
  .hero-subtitle {
    margin-top: 40px;
  }
  .footer-social {
    margin-top: 30px;
  }
  .services-grid .row > div {
    margin-bottom: 20px;
  }
  .service-description {
    margin-top: 12px;
  }
}

@media (max-width: 576px) {
  .site-banner {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
